@font-face {
  font-family: "lemonmilk";
  src: url("./fonts/lemonmilk-regular.eot");
  src: url("./fonts/lemonmilk-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/lemonmilk-regular.woff") format("woff"); }

@font-face {
  font-family: "lemonmilk-italic";
  src: url("./fonts/lemonmilk-regular-italic.eot");
  src: url("./fonts/lemonmilk-regular-italic.eot?#iefix") format("embedded-opentype"), url("./fonts/lemonmilk-regular-italic.woff") format("woff"); }

@font-face {
  font-family: "lemonmilk-bold";
  src: url("./fonts/lemonmilk-bold.eot");
  src: url("./fonts/lemonmilk-bold.eot?#iefix") format("embedded-opentype"), url("./fonts/lemonmilk-bold.woff") format("woff"); }

@font-face {
  font-family: "lemonmilk-bold-italic";
  src: url("./fonts/lemonmilk-bold-italic.eot");
  src: url("./fonts/lemonmilk-bold-italic.eot?#iefix") format("embedded-opentype"), url("./fonts/lemonmilk-bold-italic.woff") format("woff"); }

@font-face {
  font-family: "lemonmilk-light";
  src: url("./fonts/lemonmilk-light.eot");
  src: url("./fonts/lemonmilk-light.eot?#iefix") format("embedded-opentype"), url("./fonts/lemonmilk-light.woff") format("woff"); }

@font-face {
  font-family: "lemonmilk-light-italic";
  src: url("./fonts/lemonmilk-light-italic.eot");
  src: url("./fonts/lemonmilk-light-italic.eot?#iefix") format("embedded-opentype"), url("./fonts/lemonmilk-light-italic.woff") format("woff"); }

@font-face {
  font-family: "roboto";
  src: url("./fonts/roboto-regular.eot");
  src: url("./fonts/roboto-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto-regular.woff") format("woff"); }

@font-face {
  font-family: "roboto-italic";
  src: url("./fonts/roboto-regular-italic.eot");
  src: url("./fonts/roboto-regular-italic.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto-regular-italic.woff") format("woff"); }

@font-face {
  font-family: "roboto-black";
  src: url("./fonts/roboto-black.eot");
  src: url("./fonts/roboto-black.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto-black.woff") format("woff"); }

@font-face {
  font-family: "roboto-black-italic";
  src: url("./fonts/roboto-black-italic.eot");
  src: url("./fonts/roboto-black-italic.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto-black-italic.woff") format("woff"); }

@font-face {
  font-family: "roboto-bold";
  src: url("./fonts/roboto-bold.eot");
  src: url("./fonts/roboto-bold.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto-bold.woff") format("woff"); }

@font-face {
  font-family: "roboto-bold-italic";
  src: url("./fonts/roboto-bold-italic.eot");
  src: url("./fonts/roboto-bold-italic.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto-bold-italic.woff") format("woff"); }

@font-face {
  font-family: "roboto-medium";
  src: url("./fonts/roboto-medium.eot");
  src: url("./fonts/roboto-medium.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto-medium.woff") format("woff"); }

@font-face {
  font-family: "roboto-medium-italic";
  src: url("./fonts/roboto-medium-italic.eot");
  src: url("./fonts/roboto-medium-italic.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto-medium-italic.woff") format("woff"); }

@font-face {
  font-family: "roboto-light";
  src: url("./fonts/roboto-light.eot");
  src: url("./fonts/roboto-light.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto-light.woff") format("woff"); }

@font-face {
  font-family: "roboto-light-italic";
  src: url("./fonts/roboto-light-italic.eot");
  src: url("./fonts/roboto-light-italic.eot?#iefix") format("embedded-opentype"), url("./fonts/roboto-light-italic.woff") format("woff"); }

.hero--paragraph {
  font-size: 1.2em; }
  .hero--paragraph span {
    height: 230px;
    position: absolute;
    width: 20px;
    left: 59%;
    top: -2em;
    transform-origin: bottom center; }

.hero--button {
  font-family: 'roboto-medium';
  font-size: 2em;
  border-radius: 2em;
  color: #3F3F3F;
  z-index: 10; }

.hero--date {
  font-family: 'lemonmilk';
  font-size: 2em;
  float: right; }

.hero--title {
  font-family: 'lemonmilk';
  color: #fff; }
  @media (min-width: 992px) {
    .hero--title {
      font-size: 3em; } }

.hero--h1 {
  font-family: 'roboto'; }

.main--subtitle {
  font-family: 'lemonmilk';
  color: #3f3f3f; }

.main--text {
  font-family: 'roboto';
  color: #3f3f3f; }

.speaker--card {
  color: #3f3f3f; }
  .speaker--card .speaker--name {
    font-family: 'roboto-black';
    font-size: 1.25em; }
    @media (min-width: 992px) {
      .speaker--card .speaker--name {
        font-size: 1.75em; } }
  .speaker--card .speaker--title {
    font-size: 1.25em; }
    @media (min-width: 992px) {
      .speaker--card .speaker--title {
        font-size: 1.75em; } }

html {
  scroll-behavior: smooth; }

body {
  font-size: 15px;
  font-family: 'roboto';
  background-color: #3f3f3f; }

.logo {
  width: 5em; }

.active {
  font-family: 'roboto-bold'; }

.background--particles {
  position: absolute;
  height: 82vh;
  width: 100%;
  background: #19a1db;
  background: linear-gradient(137deg, #19a1db 0%, #204898 38%, #582e8e 59%, #de4799 92%, #f37323 100%);
  z-index: -10; }
  @media (min-width: 576px) {
    .background--particles {
      height: 75vh; } }
  @media (min-width: 1200px) {
    .background--particles {
      height: 82vh; } }

.navbar--btn__zindex {
  z-index: 3; }

.navbar-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0em;
  width: 100%;
  left: 0px;
  padding: 10em 2em 1em;
  z-index: 2;
  height: 100vh; }
  @media (min-width: 992px) {
    .navbar-overlay {
      background-color: transparent;
      position: unset;
      height: unset;
      padding: unset; } }

.section--cutout {
  position: absolute;
  width: 100%;
  height: 431px;
  overflow: hidden;
  top: 22em; }
  @media (min-width: 1200px) {
    .section--cutout {
      top: 25em; } }
  .section--cutout.secondary {
    top: 12em; }

.section--cutout__height {
  height: 61vh; }
  @media (min-width: 576px) {
    .section--cutout__height {
      height: 55vh; } }
  @media (min-width: 768px) {
    .section--cutout__height {
      height: 54vh; } }
  @media (min-width: 992px) {
    .section--cutout__height {
      height: 18vh; } }
  @media (min-width: 1200px) {
    .section--cutout__height {
      height: 34vh; } }
  .section--cutout__height.secondary {
    height: 37vh; }
    @media (min-width: 992px) {
      .section--cutout__height.secondary {
        height: 28vh; } }
  .section--cutout__height.third {
    height: 22em; }
    @media (min-width: 992px) {
      .section--cutout__height.third {
        height: 20em; } }

.section--cutout__img {
  position: absolute;
  width: 90em;
  z-index: -9; }
  @media (min-width: 992px) {
    .section--cutout__img {
      width: 112em; } }
  .section--cutout__img.right {
    transform: scaleX(-1);
    margin-left: -2px;
    left: 50%; }
  .section--cutout__img.left {
    right: 50%; }

.centralnav--container {
  z-index: 1;
  top: 30em; }
  @media (min-width: 992px) {
    .centralnav--container {
      top: 36em; } }
  @media (min-width: 1200px) {
    .centralnav--container {
      top: 40em; } }
  .centralnav--container.secondary {
    top: 16em; }
    @media (min-width: 992px) {
      .centralnav--container.secondary {
        top: 23em; } }
  .centralnav--container .centralnav--container__left,
  .centralnav--container .centralnav--container__right {
    width: 38%;
    justify-content: space-around; }
  .centralnav--container .centralnav--container__center {
    position: relative;
    bottom: 2em; }
    @media (min-width: 992px) {
      .centralnav--container .centralnav--container__center {
        bottom: 9em; } }
  .centralnav--container .centralnav--element {
    text-align: center; }
    .centralnav--container .centralnav--element .centralnav--icon {
      font-size: 3em;
      color: #fff; }
      @media (min-width: 992px) {
        .centralnav--container .centralnav--element .centralnav--icon {
          font-size: 6em; } }
      .centralnav--container .centralnav--element .centralnav--icon.big {
        font-size: 7em; }
        @media (min-width: 992px) {
          .centralnav--container .centralnav--element .centralnav--icon.big {
            font-size: 10em; } }
    .centralnav--container .centralnav--element.speaker {
      width: 17em;
      height: 17em;
      border: 1.5em solid #fff; }
      @media (min-width: 992px) {
        .centralnav--container .centralnav--element.speaker {
          width: 20em;
          height: 20em; } }
      .centralnav--container .centralnav--element.speaker img {
        height: 18em;
        width: auto;
        bottom: 1em; }
      .centralnav--container .centralnav--element.speaker .hookbots {
        height: 16em; }
        @media (min-width: 992px) {
          .centralnav--container .centralnav--element.speaker .hookbots {
            height: 18em; } }

.main--section__bg {
  background-color: #fff; }

.table .main-table_text {
  color: #800080; }

.table .buttons-table {
  background-color: #f37323;
  color: #fff; }

.tableDisplay {
  display: none; }

.small-table {
  display: block; }
  @media (min-width: 1200px) {
    .small-table {
      display: none; } }
  @media (min-width: 992px) {
    .small-table {
      display: none; } }

.big-table {
  display: none; }
  @media (min-width: 1200px) {
    .big-table {
      display: block; } }
  @media (min-width: 992px) {
    .big-table {
      display: block; } }

.speaker--card .speaker--social {
  font-size: 2em; }
  .speaker--card .speaker--social.blue {
    background-color: #143468; }
  .speaker--card .speaker--social.pink {
    background-color: #de4799; }
  .speaker--card .speaker--social.lightblue {
    background-color: #18A1DB; }

.bg--grey {
  background-color: #3f3f3f; }

.border--left {
  border-top: 1px solid #18A1DB; }
  @media (min-width: 992px) {
    .border--left {
      border-top: none;
      border-left: 1px solid #18A1DB; } }

.form--zindex {
  z-index: 20; }

/* .section-index__select{
        background-color: $backgroundBody;
        display: block;
        
        height: 160px;
            &::before{
                position: absolute;
                content: " ";
                width: 50vh;
                height: 50vh;
                border-radius: 50%;
                z-index: 2;
                left: 40%;
                top: -185px;
                background: $backgroundBody;
            
            }
    }*/
html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px; }

#navbar {
  margin-bottom: 0; }

.alert {
  border-radius: 0; }

.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto; }

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-sm-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-sm-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-sm-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-sm-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-sm-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-sm-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-sm-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-sm-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-sm-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-sm-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-sm-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-sm-12 {
  position: relative;
  height: 100%;
  min-height: 1px;
  padding-right: 0;
  padding-left: 0; }

.row {
  margin-right: 0;
  margin-left: 0; }

.footer {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-top: none; }

.panel {
  border: none; }

.cover {
  object-fit: cover; }

.w-90 {
  width: 90% !important; }

.card {
  border: none !important;
  max-width: 93%;
  /*$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;*/ }
  @media (min-width: 768px) {
    .card {
      max-width: 93%; } }

.card-btn {
  background: #19a1db;
  background: -moz-linear-gradient(137deg, #19a1db 0%, #582e8e 53%);
  background: -webkit-linear-gradient(137deg, #19a1db 0%, #582e8e 53%);
  background: linear-gradient(137deg, #19a1db 0%, #582e8e 53%);
  cursor: pointer;
  transition: 0.4s ease-in;
  background-size: 200% auto; }
  .card-btn:hover {
    background-position: right center;
    /* change the direction of the change here */ }

.footerColor {
  background-color: black; }
  .footerColor p {
    font-size: 19px;
    margin-bottom: 0; }

.facebookColor {
  background-color: #143468; }

.instagramColor {
  background-color: #214897; }

.twitterColor {
  background-color: #18A1DB; }
