@import 'text';
$backgroundBody: #525659;
$tabletext: #800080;
html {
    scroll-behavior: smooth;
}

body {
    font-size: 15px;
    font-family: 'roboto';
    background-color: #3f3f3f;
}

.logo {
    width: 5em;
}

.active {
    font-family: 'roboto-bold';
}

.background--particles {
    position: absolute;
    height: 82vh;
    @include respond-to(small-screens) {
        height: 75vh;
    }
    @include respond-to(extra-large-screens) {
        height: 82vh;
    }
    width: 100%;
    background: #19a1db;
    background: linear-gradient(137deg, #19a1db 0%, #204898 38%, #582e8e 59%, #de4799 92%, #f37323 100%);
    z-index: -10;
}

.navbar--btn__zindex {
    z-index: 3;
}

.navbar-overlay {
    background-color: rgba($color: #000000, $alpha: 0.7);
    position: fixed;
    top: 0em;
    width: 100%;
    left: 0px;
    padding: 10em 2em 1em;
    z-index: 2;
    height: 100vh;
    @include respond-to(large-screens) {
        background-color: transparent;
        position: unset;
        height: unset;
        padding: unset;
    }
}

.section--cutout {
    position: absolute;
    width: 100%;
    height: 431px;
    overflow: hidden;
    top: 22em;
    @include respond-to(extra-large-screens) {
        top: 25em;
    }
    &.secondary {
        top: 12em;
    }
}

.section--cutout__height {
    height: 61vh;
    @include respond-to(small-screens) {
        height: 55vh;
    }
    @include respond-to(medium-screens) {
        height: 54vh;
    }
    @include respond-to(large-screens) {
        height: 18vh;
    }
    @include respond-to(extra-large-screens) {
        height: 34vh;
    }
    &.secondary {
        height: 37vh;
        @include respond-to(large-screens) {
            height: 28vh;
        }
    }
    &.third{
        height: 22em;
        @include respond-to(large-screens) {
            height: 20em;
        }
    }
}

.section--cutout__img {
    position: absolute;
    width: 90em;
    z-index: -9;
    @include respond-to(large-screens) {
        width: 112em;
    }
    &.right {
        transform: scaleX(-1);
        margin-left: -2px;
        left: 50%;
    }
    &.left {
        right: 50%;
    }
}

.centralnav--container {
    z-index: 1;
    top: 30em;
    @include respond-to(large-screens) {
        top: 36em;
    }
    @include respond-to(extra-large-screens) {
        top: 40em;
    }
    &.secondary {
        top: 16em;
        @include respond-to(large-screens) {
            top: 23em;
        }
    }
    .centralnav--container__left,
    .centralnav--container__right {
        width: 38%;
        justify-content: space-around;
    }
    .centralnav--container__center {
        position: relative;
        bottom: 2em;
        @include respond-to(large-screens) {
            bottom: 9em;
        }
    }
    .centralnav--element {
        text-align: center;
        .centralnav--icon {
            font-size: 3em;
            @include respond-to(large-screens) {
                font-size: 6em;
            }
            color: #fff;
            &.big {
                font-size: 7em;
                @include respond-to(large-screens) {
                    font-size: 10em;
                }
            }
        }
        &.speaker {
            width: 17em;
            height: 17em;
            border: 1.5em solid #fff;
            @include respond-to(large-screens) {
                width: 20em;
                height: 20em;
            }
            img {
                height: 18em;
                width: auto;
                bottom: 1em;
            }
            .hookbots{
                height: 16em;
                @include respond-to(large-screens) {
                    height: 18em;
                }                
            }
        }
    }
}

.main--section__bg {
    background-color: #fff;
}

.table {
    .main-table_text {
        color: $tabletext;
    }
    .buttons-table {
        background-color: #f37323;
        color: #fff;
    }
}

.tableDisplay {
    display: none;
}

.small-table {
    display: block;
    @include respond-to(extra-large-screens) {
        display: none;
    }
    @include respond-to(large-screens) {
        display: none;
    }
}

.big-table {
    display: none;
    @include respond-to(extra-large-screens) {
        display: block;
    }
    @include respond-to(large-screens) {
        display: block;
    }
}

.speaker--card {
    .speaker--social {
        font-size: 2em;
        &.blue {
            background-color: #143468;
        }
        &.pink {
            background-color: #de4799;
        }
        &.lightblue {
            background-color: #18A1DB;
        }
    }
}

.bg--grey {
    background-color: #3f3f3f;
}
.border--left{
    border-top: 1px solid #18A1DB;
    @include respond-to(large-screens) {
        border-top: none;
        border-left: 1px solid #18A1DB;
    }
}
.form--zindex{
    z-index: 20;
}

/* .section-index__select{
        background-color: $backgroundBody;
        display: block;
        
        height: 160px;
            &::before{
                position: absolute;
                content: " ";
                width: 50vh;
                height: 50vh;
                border-radius: 50%;
                z-index: 2;
                left: 40%;
                top: -185px;
                background: $backgroundBody;
            
            }
    }*/

//reset bootstrap
html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#navbar {
    margin-bottom: 0;
}

.alert {
    border-radius: 0;
}

.container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-sm-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-sm-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-sm-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-sm-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-sm-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-sm-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-sm-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-sm-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-sm-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-sm-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-sm-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-sm-12 {
    position: relative;
    height: 100%;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.footer {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
}

.panel {
    border: none;
}

//propiedades card
.cover {
    object-fit: cover;
}

.w-90 {
    width: 90% !important;
}

.card {
    border: none !important;
    max-width: 93%;
    /*$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;*/
    @include respond-to(medium-screens) {
        max-width: 93%;
    }
}

.card-btn {
    background: rgb(25, 161, 219);
    background: -moz-linear-gradient(137deg, rgba(25, 161, 219, 1) 0%, rgba(88, 46, 142, 1) 53%);
    background: -webkit-linear-gradient(137deg, rgba(25, 161, 219, 1) 0%, rgba(88, 46, 142, 1) 53%);
    background: linear-gradient(137deg, rgba(25, 161, 219, 1) 0%, rgba(88, 46, 142, 1) 53%);
    cursor: pointer;
    transition: 0.4s ease-in;
    background-size: 200% auto;
    &:hover {
        background-position: right center;
        /* change the direction of the change here */
    }
}

//FOOTER
.footerColor {
    background-color: black;
    p {
        font-size: 19px;
        margin-bottom: 0;
    }
}

.facebookColor {
    background-color: #143468;
}

.instagramColor {
    background-color: #214897;
}

.twitterColor {
    background-color: #18A1DB;
}